<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zj.data.mapper.dataCYDEmapper">
<resultMap id="realdata" type="com.zj.data.domin.RealData">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="Status " jdbcType="VARCHAR" property="Status" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="access_jam" jdbcType="VARCHAR" property="access_jam" />
    <result column="date" jdbcType="VARCHAR" property="date" javaType="java.sql.Timestamp" />
    <result column="week" jdbcType="VARCHAR" property="week" />
    <result column="street" jdbcType="VARCHAR" property="street" />
    <result column="city" jdbcType="VARCHAR" property="city" />
</resultMap>

    <insert id="insertintodatabaseRealData" parameterType="com.zj.data.domin.RealData">
       insert into realdata (id,Status,description,access_jam,date,week,street,city) values (#{id},#{Status},#{description},#{access_jam},#{date},#{week},#{street},#{city})
    </insert>

    <select id="SelectByRealData" resultType="com.zj.data.domin.RealData">
     select * from realdata where  street = #{StreetName}
    </select>

    <select id="SelectByRealDataTotalCount"  resultType="int">
     select count (*) from realdata
    </select>
    <select id="SelectByFuntureData" resultType="com.zj.data.domin.FuntureData" parameterType="String">
     select * from funturedata where SampleName = #{Sample}
    </select>

    <select id="SelectByFuntureDataTotalCount"  resultType="int">
     select count (*) from funturedata
    </select>

    <select id="SelectByData" resultType="com.zj.data.domin.RealData">
     select * from realdata where week = #{week} and street = #{StreetName}
    </select>

    <insert id="insertintodatabaseFuntureData" parameterType="java.util.List">
        insert into funturedata
        (
        id,
        week,
        Status,
        date,
        description,
        SampleName,
        position
        )
        values
        <foreach collection="list" item="item" index= "index" separator =",">
            (
            #{item.id},
            #{item.week},
            #{item.Status},
            #{item.date},
            #{item.description},
            #{item.SampleName},
            #{item.position}
            )
        </foreach>




    </insert>








</mapper>